# App
BETTER_AUTH_SECRET=ba_p3ujmt39sxgqpd1oqa9q0f5421oaycnp
BETTER_AUTH_URL=http://localhost:3000

# Database (Neon) — Phase 1
DATABASE_URL=

# Google OAuth — Phase 1
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
